---
import { Picture } from 'astro:assets';
import config from '@/config/config.json';
import { humanize, plainify, slugify } from '@/lib/utils/textConverter';
import dateFormat from '@/lib/utils/dateFormat';
import { log } from 'console';

const { summary_length, projects_folder }: { summary_length: number; projects_folder: string } =
	config.settings;
const { data, style } = Astro.props;
const { title, image, date, author, categories, industry, tags, repository, link } = data.data;
const className = Astro.props.class;

// console.log(repository, link);
---

<article class:list={['work block', className]}>
	<div class="main">
		<span class="title">{title}</span>
		<div class="info">
			{
				categories.map((category: string, index: number) => (
					<span class="tag">{humanize(category)}, </span>
				))
			}

			{tags.map((tag: string, index: number) => <span class="tag">{humanize(tag)}, </span>)}
		</div>
	</div>
	<div class="links">
		{
			link && (
				<a class="link" href={link}>
					Ссылка на проект
				</a>
			)
		}

		{
			repository && (
				<a class="link" href={repository}>
					Github
				</a>
			)
		}
	</div>
	<!-- {industry && <span class="work__industry">{industry}</span>} -->
	<!--
			<span class="work__button btn btn--circle">
				<svg
					class="btn__arrow-up"
					viewBox="0 0 48 48"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M15.6406 34.9922L13.0234 32.375L28.7852 16.6133H16.7148L16.7539 13H34.9766V31.2617H31.3633L31.3828 19.2305L15.6406 34.9922Z"
						fill="currentColor"></path>
				</svg>
				<svg
					class="btn__arrow-down"
					viewBox="0 0 48 48"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M15.6406 34.9922L13.0234 32.375L28.7852 16.6133H16.7148L16.7539 13H34.9766V31.2617H31.3633L31.3828 19.2305L15.6406 34.9922Z"
						fill="currentColor"></path>
				</svg>
			</span> -->

	<!-- {
			image && (
				<div class="work__image">
					<Picture
						class="aspect-auto h-full w-full object-cover object-center"
						src={image}
						width={1920}
						height={626}
						alt={title}
						formats={['avif', 'webp']}
						quality={60}
						loading="eager"
						transition:animate={'initial'}
						transition:name={`project-image-${data.slug}`}
					/>
				</div>
			)
		} -->
</article>

<style>
	.work {
		@apply flex flex-col border-t border-blueLight py-10 text-blue transition-colors fluid:gap-2 dark:bg-box-dark dark:text-white hover:dark:text-dark;
	}
	.main {
		@apply flex flex-wrap items-center;
	}
	.links {
		@apply flex flex-wrap gap-5;
	}
	.link {
		@apply transition;
		box-shadow: inset 0 -1px #0d52a1;
		&:hover {
			box-shadow: inset 0 -1px transparent;
		}
		/* @apply flex items-center py-10 fluid:gap-2; */
	}

	.title {
		@apply mb-6 w-full font-medium  text-blue fluid:text-3xl md:mb-0 md:w-auto md:pr-10  dark:text-white;
	}

	.category {
		@apply hidden font-normal text-gray fluid:text-2xl lg:block dark:bg-transparent;
	}

	.industry {
		@apply font-medium text-dark fluid:text-2xl dark:text-gray  dark:lg:text-white;
	}

	.image {
		@apply overflow-hidden rounded-3xl;
	}
</style>
