---
export const prerender = true;
import config from '@/config/config.json';
import Base from '@/layouts/Base.astro';
import PostSingle from '@/layouts/PostSingle.astro';
import Breadcrumbs from '@/components/Breadcrumbs.astro';

// import YandexFloorAds from '@/components/YandexFloorAds.astro';

import { getSinglePage } from '@/lib/contentParser.astro';
import CtaBlock from '@/components/CtaBlock.astro';
import { Image } from 'astro:assets';

// import AdfoxFloorAds from '@/components/AdfoxFloorAds.astro';

const { blog_folder } = config.settings;

export async function getStaticPaths() {
	const posts = await getSinglePage(config.settings.blog_folder);
	const numberOfPosts = Math.ceil(posts.length);

	const paths = posts

		.filter((post) => !post.data.draft)
		.map((post, i) => ({
			params: {
				single: post.slug,
			},
			props: {
				post,
				prevPost: i + 1 === numberOfPosts ? { data: '' } : posts[i + 1],
				nextPost: i === 0 ? { data: '' } : posts[i - 1],
			},
		}));
	return paths;
}

const { post, prevPost, nextPost, type } = Astro.props;
const { title, meta_title, description, image } = post.data;
---

<Base title={title} meta_title={meta_title} description={description} image={image.src}>
	<div class="blocks">
		<Breadcrumbs class="" />

		<PostSingle class="" post={post} prevPost={prevPost} nextPost={nextPost} type={blog_folder} />

		<!-- <div class="blocks__container container">
			<CtaBlock id="cta" class=""
			/>
		</div> -->
	</div>

	<!-- <YandexFloorAds blockId="R-A-2592503-6" platform="touch" /> -->
	<!-- <YandexFloorAds blockId="R-A-2592503-5" platform="desktop" /> -->
</Base>
