---
export const prerender = true;
import Pagination from '@/components/Pagination.astro';
import config from '@/config/config.json';
import Base from '@/layouts/Base.astro';

import YandexFloorAds from '@/components/YandexFloorAds.astro';

import { getSinglePage } from '@/lib/contentParser.astro';
import { getAllTaxonomy, getTaxonomy } from '@/lib/taxonomyParser.astro';
import { sortByDate } from '@/lib/utils/sortFunctions';
import { getEntryBySlug } from 'astro:content';
import ArticlesBlock from '@/components/ArticlesBlock.astro';
import CtaBlock from '@/components/CtaBlock.astro';
import Search from '@/components/Search';
const { blog_folder } = config.settings;

const postIndex = await getEntryBySlug<any, string>(blog_folder, '-index');
const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPathSegment = pathname[1];

// console.log(posts);

// List of items to search in
const searchList = posts.map((item) => ({
	slug: item.slug,
	data: item.data,
	content: item.body,
}));
---

<Base
	title={`Посты из блога ${postIndex.data.title}`}
	meta_title={`Посты из блога ${postIndex.data.meta_title}`}
	image={postIndex.data.image}
	description={`${postIndex.data.description}`}
>
	<div class="blocks">
		<div class="blocks__container container">
			<Search client:load searchList={searchList} />
		</div>

		<div class="blocks__container container">
			<ArticlesBlock posts={currentPosts} class="" />
		</div>

		{}
		<div class="blocks__container container">
			<Pagination
				section={blog_folder}
				currentPage={1}
				totalPages={totalPages}
				class=""
			/>
		</div>

		<div class="blocks__container container">
			<CtaBlock id="cta" class="" 
			/>
		</div>
	</div>
</Base>
<!-- <PageHeader title={postIndex.data.title} /> -->
<!-- <PostSidebar categories={categories} tags={tags} allCategories={allCategories} /> -->

<YandexFloorAds blockId="R-A-2592503-6" platform="touch" />
<YandexFloorAds blockId="R-A-2592503-5" platform="desktop" />
