---
export const prerender = true;
import Pagination from '@/components/Pagination.astro';
import config from '@/config/config.json';
import Base from '@/layouts/Base.astro';
import { getSinglePage } from '@/lib/contentParser.astro';
import { getAllTaxonomy, getTaxonomy } from '@/lib/taxonomyParser.astro';
import { sortByDate } from '@/lib/utils/sortFunctions';
import PageHeader from '@/partials/PageHeader.astro';
import PostSidebar from '@/partials/PostSidebar.astro';
import { getEntryBySlug } from 'astro:content';
import WorksBlock from '@/components/WorksBlock.astro';
import CtaBlock from '@/components/CtaBlock.astro';

const { projects_folder } = config.settings;
const postIndex = await getEntryBySlug<any, string>(projects_folder, '-index');
const posts = await getSinglePage(projects_folder);
const allCategories = await getAllTaxonomy(projects_folder, 'categories');
const categories = await getTaxonomy(projects_folder, 'categories');
const tags = await getTaxonomy(projects_folder, 'tags');
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentProjects = sortedPosts.slice(0, config.settings.pagination);
---

<Base
	title={`Работы. ${postIndex.data.title}`}
	meta_title={`Работы. ${postIndex.data.meta_title}`}
	image={postIndex.data.image}
	description={`Frontend, Full-stack проекты на nestjs, next.js, react, astro, vue, nuxt, svelte . ${postIndex.data.description}`}
>
	<div class="blocks">
		<div class="blocks__container container">
			<WorksBlock class="" works={currentProjects} />
		</div>

		<div class="blocks__container container">
			<Pagination section={projects_folder} currentPage={1} totalPages={totalPages} />
		</div>

		<div class="blocks__container container">
			<CtaBlock id="cta" class="" />
		</div>
	</div>
</Base>
